
<!DOCTYPE HTML>
<html>
<head>
<title>Adventure Gaming a Games a Category Flat Bootstarp Responsive Website Template | Home :: w3layouts</title>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script src="static/css/bootstrap.css"></script>
<!-- Custom Theme files -->
<link href="static/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Adventure Gaming  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<script src="static/js/jquery.min.js"></script>

</head>
<body>

<!-- header -->
	 <div class="banner-info">
		  <div class="container">
				<div class="logo" style="color:white">
					 <h1><a>PS-XBOX RECOMMENDATION SYSTEM</a></h1>
				</div>
			 <div class="top-menu">
				 <span class="menu"></span>
					<ul class="nav1">
						 <li class="active"><a href="{%url "index" %}">Home</a></li>
						 <li><a href="{%url "login" %}">PS</a></li>
						 <li><a href="{%url "login" %}">XBOX</a></li>
						 <li><A href="{%url "login" %}">LOGIN</a></li>
				  </ul>
			 </div>
	 <!-- script-for-menu -->
						<script>
							 $( "span.menu" ).click(function() {
							$( "ul.nav1" ).slideToggle( 300, function() {
							// Animation complete.
								});
								});
						</script>
					<!-- /script-for-menu -->

			 <div class="clearfix"></div>
		 </div>
	 </div>
<!-- banner -->
	 <!-- Slider-starts-Here -->
	 <script src="/static/js/responsiveslides.min.js"></script>
	 <script>
		$(function () {
		  $("#slider").responsiveSlides({
			auto:true,
			nav: false,
			speed: 500,
			namespace: "callbacks",
			pager:true,
		  });
		});

	   </script>
	 <div class="slider">
		  <div class="callbacks_container">
			  <ul class="rslides" id="slider">

					<div class="slid banner1">
						  <div class="caption">
								<h3>Adventure Game - 343 industries - master chief</h3>
								</div>
					</div>


					 <div class="slid banner2">
						  <div class="caption">
								<h3>God of war - kratos - sony santa monica</h3>
						  </div>
					 </div>


					<div class="slid banner3">
						<div class="caption">
							<h3>Battlefield 4 - game - explosion - digital illusions</h3>
						</div>
					</div>


					<div class="slid banner4">
						<div class="caption">
							<h3>Grand Theft Auto -V -Action-Adventure - Rockstar Games</h3>
						</div>
					</div>


					<div class="slid banner5">
						<div class="caption">
							<h3>Call of Duty Black Ops -Action-Survival  - Activision</h3>
						</div>
					</div>


					<div class="slid banner6">
						<div class="caption">
							<h3>NFS-Heat - Racing - Ghost Games</h3>
						</div>
					</div>


					<div class="slid banner7">
						<div class="caption">
							<h3>Uncharted-4 A Theif's End -Adventure  -Naughty Dog - Sony</h3>
						</div>
					</div>


					<div class="slid banner8">
						<div class="caption">
							<h3>PUBG BATTLEGROUNDS - Action - Survival - Krafton</h3>
						</div>
					</div>


					<div class="slid banner9">
						<div class="caption">
							<h3>Resident Evil Village  -Action -Survival - Horror   - Capcom Games </h3>
						</div>
					</div>
			  </ul>
		 </div>
	 </div>

<!-- content -->
<div class="content">
	 <div class="container">
		 <div class="top-games">
			 <h3>Top Games</h3>
			 <span></span>
		 </div>
		 <div class="top-game-grids">
			 <ul id="flexiselDemo1">
				 <li>
					 <div class="game-grid">
						 <h4>Action Games</h4>
						 <p>Nulla elementum nunc tempus.</p>
						 <img src="/static/images/t1.jpg" class="img-responsive" alt=""/>
					 </div>
				 </li>
				 <li>
					 <div class="game-grid">
						 <h4>Racing Games</h4>
						 <p>Nulla elementum nunc tempus.</p>
						 <img src="/static/images/t3.jpg" class="img-responsive" alt=""/>
					 </div>
				 </li>
				 <li>
					 <div class="game-grid">
						 <h4>3D Games</h4>
						 <p>Nulla elementum nunc tempus.</p>
						 <img src="/static/images/t4.jpg" class="img-responsive" alt=""/>
					 </div>
				 </li>
				 <li>
					 <div class="game-grid">
						 <h4>Arcade Games</h4>
						 <p>Nulla elementum nunc tempus.</p>
						 <img src="/static/images/t2.jpg" class="img-responsive" alt=""/>
					 </div>
				 </li>
			 </ul>

			 <script type="text/javascript">
			 $(window).load(function() {
			  $("#flexiselDemo1").flexisel({
				visibleItems: 4,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,
				pauseOnHover:true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint:480,
						visibleItems: 1
					},
					landscape: {
						changePoint:640,
						visibleItems: 2
					},
					tablet: {
						changePoint:768,
						visibleItems: 3
					}
				}
			});
			});
			</script>
			<script type="text/javascript" src="/static/js/jquery.flexisel.js"></script>
		 </div>
	 </div>
</div>
<!-- latest -->
<div class="latest">
	 <div class="container">
		 <div class="latest-games">
			 <h3>Games Trailers</h3>
			 <br><br>
			 <span></span>
		 </div>
				<div class="box">
				<iframe src="https://www.youtube.com/embed/xQT-O1nMSBU" frameborder="0" allowfullscreen width=275 height=300></iframe>
				<iframe src="https://www.youtube.com/embed/TTaCrP_U4ao" frameborder="1" allowfullscreen width=275 height=300></iframe>
				<iframe src="https://www.youtube.com/embed/EE-4GvjKcfs" frameborder="2" allowfullscreen width=275 height=300></iframe>
				<iframe src="https://www.youtube.com/embed/qAUYNIDEJ6o" frameborder="3" allowfullscreen width=275 height=300></iframe>
				<iframe src="https://www.youtube.com/embed/hh5HV4iic1Y" frameborder="3" allowfullscreen width=275 height=300></iframe>
				<iframe src="https://www.youtube.com/embed/9ewiJJe_nYI" frameborder="3" allowfullscreen width=275 height=300></iframe>
				<iframe src="https://www.youtube.com/embed/gYrC19LSf5Y" frameborder="2" allowfullscreen width=275 height=300></iframe>
				<iframe src="https://www.youtube.com/embed/irYAJ8PVyZs" frameborder="3" allowfullscreen width=275 height=300></iframe>
				<iframe src="https://www.youtube.com/embed/3RvcBfyHhk4" frameborder="3" allowfullscreen width=275 height=300></iframe>
				<iframe src="https://www.youtube.com/embed/aPKIQgc0Fnw" frameborder="3" allowfullscreen width=275 height=300></iframe>
				<iframe src="https://www.youtube.com/embed/qriBLQoUt4g" frameborder="3" allowfullscreen width=275 height=300></iframe>
				<iframe src="https://www.youtube.com/embed/8YbWhQgavyI" frameborder="3" allowfullscreen width=275 height=300></iframe>
				</div>
			</div>
	 </div>
</div>
<!-- poster -->
<div class="poster">
	 <div class="container">
		 <div class="poster-info">
			 <h3>What You will get here ??</h3>
			 <p>Ps-Xbox Recommendation Engine is a website for Gamers where they get all the information
			 regarding PS and Xbox Games.We recommend Games based on the genre of the user Search games .
		   Gamers will get the all information regarding the games including youtube trailers , users comment
		 analysis , chatbot for greater user experience , games ratings , games info.<BR>
		 Playstation Games =1600+<BR>
		 Xbox Games =1400+
	   </p>
			  <a class="hvr-bounce-to-bottom" href="reviews.html">Read More</a>
		 </div>
	 </div>
</div>
</body>
</html>
