<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
  <!-- jQuery (necessary JavaScript plugins) -->
  <script src="/static/js/bootstrap.js"></script>
  <!-- Custom Theme files -->
  <link href="/static/css\style.css" rel='stylesheet' type='text/css' />
  <!-- Custom Theme files -->
  <!--//theme-style-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Adventure Gaming  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

  <script src="/static/js/jquery.min.js"></script>
</head>
  <body>
    <script id="gs-sdk" src='//www.buildquickbots.com/botwidget/v3/demo/static/js/sdk.js?v=3' key="1578c011-20f4-4463-96eb-dc5834056fc6" ></script>
    <div class="banner-info">
 		  <div class="container">
 				<div class="logo" style="color:white">
 					 <h1><a href="{% url "ps" %}">PLAYSTATION GAMES</a></h1>
 				</div>
 			 <div class="top-menu">
 				 <span class="menu"></span>
 					<ul class="nav1">
               <li class=""><a href="{%url "index" %}">Home</a></li>
               <li class=""><a href="{%url "ps_recommend" %}">Recommend</a></li>
               <li class=""><a href="{%url "ps_trailers" %}">Trailers</a></li>
               <li class=""><a href="{% url "ps_news" %}">News</a></li>
               <li class=""><A href="Logout.html">Logout</a></li>
 				  </ul>
 			 </div>
 	 <!-- script-for-menu -->
 						<script>
 							 $( "span.menu" ).click(function() {
 							$( "ul.nav1" ).slideToggle( 300, function() {
 							// Animation complete.
 								});
 								});
 						</script>
 					<!-- /script-for-menu -->

 			 <div class="clearfix"></div>
 		 </div>
 	 </div>
 <!-- banner -->
 	 <!-- Slider-starts-Here -->
 	 <script src="/static/js/responsiveslides.min.js"></script>
 	 <script>
 		$(function () {
 		  $("#slider").responsiveSlides({
 			auto:true,
 			nav: false,
 			speed: 500,
 			namespace: "callbacks",
 			pager:true,
 		  });
 		});

 	   </script>
 	 <div class="slider">
 		  <div class="callbacks_container">
 			  <ul class="rslides" id="slider">

 					<div class="slid banner1">
 						  <div class="caption">
 								<h3>Adventure Game - 343 industries - master chief</h3>
 								</div>
 					</div>


 					 <div class="slid banner2">
 						  <div class="caption">
 								<h3>God of war - kratos - sony santa monica</h3>
 						  </div>
 					 </div>


 					<div class="slid banner3">
 						<div class="caption">
 							<h3>Battlefield 4 - game - explosion - digital illusions</h3>
 						</div>
 					</div>


 					<div class="slid banner4">
 						<div class="caption">
 							<h3>Grand Theft Auto -V -Action-Adventure - Rockstar Games</h3>
 						</div>
 					</div>


 					<div class="slid banner5">
 						<div class="caption">
 							<h3>Call of Duty Black Ops -Action-Survival  - Activision</h3>
 						</div>
 					</div>


 					<div class="slid banner6">
 						<div class="caption">
 							<h3>NFS-Heat - Racing - Ghost Games</h3>
 						</div>
 					</div>


 					<div class="slid banner7">
 						<div class="caption">
 							<h3>Uncharted-4 A Theif's End -Adventure  -Naughty Dog - Sony</h3>
 						</div>
 					</div>


 					<div class="slid banner8">
 						<div class="caption">
 							<h3>PUBG BATTLEGROUNDS - Action - Survival - Krafton</h3>
 						</div>
 					</div>


 					<div class="slid banner9">
 						<div class="caption">
 							<h3>Resident Evil Village  -Action -Survival - Horror   - Capcom Games </h3>
 						</div>
 					</div>
 			  </ul>
 		 </div>
 	 </div>


<br><Br>


  <div class="content">
  	 <div class="container">
  		 <div class="top-games">
         <center><h2>Top Racing Games</h2></center>
  			 <span></span>
  		 </div>
  		 <div class="top-game-grids">
  			 <ul id="flexiselDemo1">
  				 <li>
  					 <div class="game-grid">
  						 <h4>Gran Turismo</h4>
  						 <p>Gran Turismo Sport</p>
  						 <img src="/static/images/r1.jpg" class="img-responsive" alt=""/>
  					 </div>
  				 </li>
  				 <li>
  					 <div class="game-grid">
  						 <h4>Need For Speed</h4>
  						 <p>Need For Speed Heat</p>
  						 <img src="/static/images/r2.jpg" class="img-responsive" alt=""/>
  					 </iv>
  				 </li>
  				 <li>
  					 <div class="game-grid">
  						 <h4>Crash Team Racing</h4>
  						 <p>Crash Team Racing Nitro Fueled</p>
  						 <img src="/static/images/r3.jpg" class="img-responsive" alt=""/>
  					 </div>
  				 </li>
  				 <li>
  					 <div class="game-grid">
  						 <h4>Wipeout</h4>
  						 <p>Wipeout Omega Collection</p>
  						 <img src="/static/images/r4.jpg" class="img-responsive" alt=""/>
  					 </div>
  				 </li>

  				 <li>
  					 <div class="game-grid">
  						 <h4>Burnout</h4>
  						 <p>Burnout Paradise</p>
  						 <img src="/static/images/r5.jpg" class="img-responsive" alt=""/>
  					 </div>
  				 </li>

  				 <li>
  					 <div class="game-grid">
  						 <h4>Dirt</h4>
  						 <p>Dirt 5<p>
  						 <img src="/static/images/r6.jpg" class="img-responsive" alt=""/>
  					 </div>
  				 </li>

  				 <li>
  					 <div class="game-grid">
  						 <h4>Asseto Corsa</h4>
  						 <p>Asseto Corsa</p>
  						 <img src="/static/images/r7.jpg" class="img-responsive" alt=""/>
  					 </div>
  				 </li>

  				 <li>
  					 <div class="game-grid">
  						 <h4>F1 Racing</h4>
  						 <p>F1 2021</p>
  						 <img src="/static/images/r8.jpg" class="img-responsive" alt=""/>
  					 </div>
  				 </li>

           <li>
  					 <div class="game-grid">
  						 <h4>Project Cars</h4>
  						 <p>Project Cars 2021</p>
  						 <img src="/static/images/r9.jpg" class="img-responsive" alt=""/>
  					 </div>
  				 </li>

           <li>
  					 <div class="game-grid">
  						 <h4>MotoGP</h4>
  						 <p>MotoGP 20</p>
  						 <img src="/static/images/r10.jpg" class="img-responsive" alt=""/>
  					 </div>
  				 </li>
  			 </ul>
  			 <script type="text/javascript">
  			 $(window).load(function() {
  			  $("#flexiselDemo1").flexisel({
  				visibleItems: 4,
  				animationSpeed: 1000,
  				autoPlay: true,
  				autoPlaySpeed: 3000,
  				pauseOnHover:true,
  				enableResponsiveBreakpoints: true,
  				responsiveBreakpoints: {
  					portrait: {
  						changePoint:480,
  						visibleItems: 1
  					},
  					landscape: {
  						changePoint:640,
  						visibleItems: 2
  					},
  					tablet: {
  						changePoint:768,
  						visibleItems: 3
  					}
  				}
  			});
  			});
  			</script>
  			<script type="text/javascript" src="/static/js/jquery.flexisel.js"></script>
  		 </div>
  	 </div>
  </div>

  <br><br>



  <div class="content">
  	 <div class="container">
  		 <div class="top-games">
         <center><h2>Top Horror Games</h2></center>
  			 <span></span>
  		 </div>
  		 <div class="top-game-grids">
  			 <ul id="flexiselDemo2">
  				 <li>
  					 <div class="game-grid">
  						 <h4>Until Dawn</h4>
  						 <p>Until Dawn</p>
  						 <img src="/static/images/h1.jpg" class="img-responsive" alt=""/>
  					 </div>
  				 </li>
  				 <li>
  					 <div class="game-grid">
  						 <h4>The Evil Within 2</h4>
  						 <p>The Evil Within 2</p>
  						 <img src="/static/images/h2.jpg" class="img-responsive" alt=""/>
  					 </iv>
  				 </li>
  				 <li>
  					 <div class="game-grid">
  						 <h4>Resident Evil Village</h4>
  						 <p>Resident Evil Village</p>
  						 <img src="/static/images/h3.jpg" class="img-responsive" alt=""/>
  					 </div>
  				 </li>
  				 <li>
  					 <div class="game-grid">
  						 <h4>The Last Of Us</h4>
  						 <p>The Last Of Us Part 2</p>
  						 <img src="/static/images/h4.jpg" class="img-responsive" alt=""/>
  					 </div>
  				 </li>

  				 <li>
  					 <div class="game-grid">
  						 <h4>Bloodborne</h4>
  						 <p>Bloodborne</p>
  						 <img src="/static/images/h5.jpg" class="img-responsive" alt=""/>
  					 </div>
  				 </li>

  				 <li>
  					 <div class="game-grid">
  						 <h4>Days Gone</h4>
  						 <p>Days Gone<p>
  						 <img src="/static/images/h6.jpg" class="img-responsive" alt=""/>
  					 </div>
  				 </li>

  				 <li>
  					 <div class="game-grid">
  						 <h4>Visage</h4>
  						 <p>Visage</p>
  						 <img src="/static/images/h7.jpg" class="img-responsive" alt=""/>
  					 </div>
  				 </li>

  				 <li>
  					 <div class="game-grid">
  						 <h4>Observer</h4>
  						 <p>Observer</p>
  						 <img src="/static/images/h8.jpg" class="img-responsive" alt=""/>
  					 </div>
  				 </li>

           <li>
  					 <div class="game-grid">
  						 <h4>Prey</h4>
  						 <p>Prey</p>
  						 <img src="/static/images/h9.jpg" class="img-responsive" alt=""/>
  					 </div>
  				 </li>

           <li>
  					 <div class="game-grid">
  						 <h4>The Evil Within</h4>
  						 <p>The Evil Within</p>
  						 <img src="/static/images/h10.jpg" class="img-responsive" alt=""/>
  					 </div>
  				 </li>
  			 </ul>
  			 <script type="text/javascript">
  			 $(window).load(function() {
  			  $("#flexiselDemo2").flexisel({
  				visibleItems: 4,
  				animationSpeed: 1000,
  				autoPlay: true,
  				autoPlaySpeed: 3000,
  				pauseOnHover:true,
  				enableResponsiveBreakpoints: true,
  				responsiveBreakpoints: {
  					portrait: {
  						changePoint:480,
  						visibleItems: 1
  					},
  					landscape: {
  						changePoint:640,
  						visibleItems: 2
  					},
  					tablet: {
  						changePoint:768,
  						visibleItems: 3
  					}
  				}
  			});
  			});
  			</script>
  			<script type="text/javascript" src="/static/images/js/jquery.flexisel.js"></script>
  		 </div>
  	 </div>
  </div>

<br><br>

<div class="content">
   <div class="container">
     <div class="top-games">
       <center><h2>Top Shooting Games</h2></center>
       <span></span>
     </div>
     <div class="top-game-grids">
       <ul id="flexiselDemo3">
         <li>
           <div class="game-grid">
             <h4>Far Cry</h4>
             <p>Far Cry 5</p>
             <img src="/static/images/s1.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
         <li>
           <div class="game-grid">
             <h4>Sniper Elite</h4>
             <p>Sniper Elite 4</p>
             <img src="/static/images/s2.jpg" class="img-responsive" alt=""/>
           </iv>
         </li>
         <li>
           <div class="game-grid">
             <h4>Titanfall</h4>
             <p>Titanfall 2</p>
             <img src="/static/images/s3.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
         <li>
           <div class="game-grid">
             <h4>Destiny</h4>
             <p>Destiny 2</p>
             <img src="/static/images/s4.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Apex Legends</h4>
             <p>Apex Legends</p>
             <img src="/static/images/s5.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Call Of Duty</h4>
             <p>Call of Duty Cold War<p>
             <img src="/static/images/s6.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>BattleField</h4>
             <p>BattleField 4</p>
             <img src="/static/images/s7.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Call Of Duty</h4>
             <p>Call Of Duty World War</p>
             <img src="/static/images/s8.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Star Wars</h4>
             <p>Star Wars Battlefront 2</p>
             <img src="/static/images/s9.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Back 4 Blood</h4>
             <p>Back 4 Blood</p>
             <img src="/static/images/s10.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
       </ul>
       <script type="text/javascript">
       $(window).load(function() {
        $("#flexiselDemo3").flexisel({
        visibleItems: 4,
        animationSpeed: 1000,
        autoPlay: true,
        autoPlaySpeed: 3000,
        pauseOnHover:true,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: {
          portrait: {
            changePoint:480,
            visibleItems: 1
          },
          landscape: {
            changePoint:640,
            visibleItems: 2
          },
          tablet: {
            changePoint:768,
            visibleItems: 3
          }
        }
      });
      });
      </script>
      <script type="text/javascript" src="/static/images/js/jquery.flexisel.js"></script>
     </div>
   </div>
</div>

<br><br>

<div class="content">
   <div class="container">
     <div class="top-games">
       <center><h2>Top Action Games</h2></center>
       <span></span>
     </div>
     <div class="top-game-grids">
       <ul id="flexiselDemo4">
         <li>
           <div class="game-grid">
             <h4>God Of War</h4>
             <p>God Of War</p>
             <img src="/static/images/a1.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
         <li>
           <div class="game-grid">
             <h4>Horizon</h4>
             <p>Horizon Zero Dawn</p>
             <img src="/static/images/a2.jpg" class="img-responsive" alt=""/>
           </iv>
         </li>
         <li>
           <div class="game-grid">
             <h4>The Witcher 3</h4>
             <p>The Witcher 3: Wild Hunt</p>
             <img src="/static/images/a3.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
         <li>
           <div class="game-grid">
             <h4>Spider Man</h4>
             <p>Spider Man</p>
             <img src="/static/images/a4.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Grand Thefto Auto</h4>
             <p>Grand Thefto Auto 5</p>
             <img src="/static/images/a5.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Monster Hunter</h4>
             <p>Monster Hunter World<p>
             <img src="/static/images/a6.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Ghost of Tsushima</h4>
             <p>Ghost of Tsushima</p>
             <img src="/static/images/a7.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Sekiro</h4>
             <p>Sekiro: Shadows Die Twice</p>
             <img src="/static/images/a8.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Assassin's Creed</h4>
             <p>Assassin's Creed Valhalla</p>
             <img src="/static/images/a9.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Batman</h4>
             <p>Batman: Arkham Knight</p>
             <img src="/static/images/a10.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
       </ul>
       <script type="text/javascript">
       $(window).load(function() {
        $("#flexiselDemo4").flexisel({
        visibleItems: 4,
        animationSpeed: 1000,
        autoPlay: true,
        autoPlaySpeed: 3000,
        pauseOnHover:true,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: {
          portrait: {
            changePoint:480,
            visibleItems: 1
          },
          landscape: {
            changePoint:640,
            visibleItems: 2
          },
          tablet: {
            changePoint:768,
            visibleItems: 3
          }
        }
      });
      });
      </script>
      <script type="text/javascript" src="/static/images/js/jquery.flexisel.js"></script>
     </div>
   </div>
</div>

<br><br>

<div class="content">
   <div class="container">
     <div class="top-games">
       <center><h2>Top Simulation Games</h2></center>
       <span></span>
     </div>
     <div class="top-game-grids">
       <ul id="flexiselDemo5">
         <li>
           <div class="game-grid">
             <h4>Railway Empire</h4>
             <p>Railway Empire</p>
             <img src="/static/images/si1.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
         <li>
           <div class="game-grid">
             <h4>Farming Simulator</h4>
             <p>Farming Simulator</p>
             <img src="/static/images/si2.jpg" class="img-responsive" alt=""/>
           </iv>
         </li>
         <li>
           <div class="game-grid">
             <h4>Car Mechanic Simulator</h4>
             <p>Car Mechanic Simulator</p>
             <img src="/static/images/si3.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
         <li>
           <div class="game-grid">
             <h4>Project Cars</h4>
             <p>Project Cars 2</p>
             <img src="/static/images/si4.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Overcooked</h4>
             <p>Overcooked 2</p>
             <img src="/static/images/si5.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Jurassic World</h4>
             <p>Jurassic World Evolution<p>
             <img src="/static/images/si6.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Star Wars</h4>
             <p>Star Wars Squardon</p>
             <img src="/static/images/si7.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Ace Combat</h4>
             <p>Ace Combat 7</p>
             <img src="/static/images/si8.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Elite Dangerous</h4>
             <p>Elite Dangerous</p>
             <img src="/static/images/si9.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Survving Mars</h4>
             <p>Surviving Mars</p>
             <img src="/static/images/si10.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
       </ul>
       <script type="text/javascript">
       $(window).load(function() {
        $("#flexiselDemo5").flexisel({
        visibleItems: 4,
        animationSpeed: 1000,
        autoPlay: true,
        autoPlaySpeed: 3000,
        pauseOnHover:true,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: {
          portrait: {
            changePoint:480,
            visibleItems: 1
          },
          landscape: {
            changePoint:640,
            visibleItems: 2
          },
          tablet: {
            changePoint:768,
            visibleItems: 3
          }
        }
      });
      });
      </script>
      <script type="text/javascript" src="/static/images/js/jquery.flexisel.js"></script>
     </div>
   </div>
</div>

<br><br>

<div class="content">
   <div class="container">
     <div class="top-games">
       <center><h2>Top Sports Games</h2></center>
       <span></span>
     </div>
     <div class="top-game-grids">
       <ul id="flexiselDemo6">
         <li>
           <div class="game-grid">
             <h4>Olympic Games</h4>
             <p>Olympic Games Tokyo</p>
             <img src="/static/images/sp1.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
         <li>
           <div class="game-grid">
             <h4>NBA</h4>
             <p>NBA 2K21</p>
             <img src="/static/images/sp2.jpg" class="img-responsive" alt=""/>
           </iv>
         </li>
         <li>
           <div class="game-grid">
             <h4>PGA Tour</h4>
             <p>PGA Tour 2K21</p>
             <img src="/static/images/sp3.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
         <li>
           <div class="game-grid">
             <h4>FIFA</h4>
             <p>FIFA 2022</p>
             <img src="/static/images/sp4.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>EA Sports Ufc</h4>
             <p>EA Sports UFC</p>
             <img src="/static/images/sp5.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Madden NFL</h4>
             <p>Madden NFL 18<p>
             <img src="/static/images/sp6.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Tennis</h4>
             <p>Tennis World Tour</p>
             <img src="/static/images/sp7.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Creed</h4>
             <p>Creed Rise To GLory</p>
             <img src="/static/images/sp8.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Tony Hawks</h4>
             <p>Pro Skater 2</p>
             <img src="/static/images/sp9.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>WWE</h4>
             <p>WWE 2K20</p>
             <img src="/static/images/sp10.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
       </ul>
       <script type="text/javascript">
       $(window).load(function() {
        $("#flexiselDemo6").flexisel({
        visibleItems: 4,
        animationSpeed: 1000,
        autoPlay: true,
        autoPlaySpeed: 3000,
        pauseOnHover:true,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: {
          portrait: {
            changePoint:480,
            visibleItems: 1
          },
          landscape: {
            changePoint:640,
            visibleItems: 2
          },
          tablet: {
            changePoint:768,
            visibleItems: 3
          }
        }
      });
      });
      </script>
      <script type="text/javascript" src="/static/images/js/jquery.flexisel.js"></script>
     </div>
   </div>
</div>

<br><br>

<div class="content">
   <div class="container">
     <div class="top-games">
       <center><h2>Top Survival Games</h2></center>
       <span></span>
     </div>
     <div class="top-game-grids" height=300 width=200>
       <ul id="flexiselDemo7">
         <li>
           <div class="game-grid">
             <h4>XCOM</h4>
             <p>XCOM 2</p>
             <img src="/static/images/su1.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
         <li>
           <div class="game-grid">
             <h4>Shadow Tactics</h4>
             <p>BLades Of The Shotgun</p>
             <img src="/static/images/su2.jpg" class="img-responsive" alt=""/>
           </iv>
         </li>
         <li>
           <div class="game-grid">
             <h4>Frostpunk</h4>
             <p>Frostpunk</p>
             <img src="/static/images/su3.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
         <li>
           <div class="game-grid">
             <h4>Age of Wonders</h4>
             <p>Planetfall</p>
             <img src="/static/images/su4.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Mutant Year Zero</h4>
             <p>Road To Eden</p>
             <img src="/static/images/su5.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Phantom Doctrine</h4>
             <p>Phantom Doctrine<p>
             <img src="/static/images/su6.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Othercide</h4>
             <p>Othercide</p>
             <img src="/static/images/su7.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Brigandine</h4>
             <p>The Legend of Runersia</p>
             <img src="/static/images/su8.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Battlestar</h4>
             <p>Galactia Deadlock</p>
             <img src="/static/images/su9.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Desparados</h4>
             <p>Desparados 3</p>
             <img src="/static/images/su10.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
       </ul>
       <script type="text/javascript">
       $(window).load(function() {
        $("#flexiselDemo7").flexisel({
        visibleItems: 4,
        animationSpeed: 1000,
        autoPlay: true,
        autoPlaySpeed: 3000,
        pauseOnHover:true,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: {
          portrait: {
            changePoint:480,
            visibleItems: 1
          },
          landscape: {
            changePoint:640,
            visibleItems: 2
          },
          tablet: {
            changePoint:768,
            visibleItems: 3
          }
        }
      });
      });
      </script>
      <script type="text/javascript" src="/static/js/jquery.flexisel.js"></script>
     </div>
   </div>
</div>

<br><br>

<div class="content">
   <div class="container">
     <div class="top-games">
       <center><h2>Top Fighting Games</h2></center>
       <span></span>
     </div>
     <div class="top-game-grids" height=300 width=200>
       <ul id="flexiselDemo8">
         <li>
           <div class="game-grid">
             <h4>Soulcalibur</h4>
             <p>Soulcalibur VI</p>
             <img src="/static/images/f1.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
         <li>
           <div class="game-grid">
             <h4>Mortal Combat</h4>
             <p>Mortal Combat X</p>
             <img src="/static/images/f2.jpg" class="img-responsive" alt=""/>
           </iv>
         </li>
         <li>
           <div class="game-grid">
             <h4>Dead Or Alive</h4>
             <p>Dead Or Alive VI</p>
             <img src="/static/images/f3.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
         <li>
           <div class="game-grid">
             <h4>Blazblue</h4>
             <p>Cross Tag Battle</p>
             <img src="/static/images/f4.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Under Night In-Birth</h4>
             <p>Under Night In-Birth</p>
             <img src="/static/images/f5.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Street Fighter V</h4>
             <p>Champion Edition<p>
             <img src="/static/images/f6.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Mortal Combat</h4>
             <p>Mortal Combat 11</p>
             <img src="/static/images/f7.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Dragon Ball FighterZ</h4>
             <p>Dragon Ball FighterZ</p>
             <img src="/static/images/f8.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Metty Blood</h4>
             <p>Type Lumina</p>
             <img src="/static/images/f9.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Guilty Gear -Strive-</h4>
             <p>Guilty Gear -Strive-</p>
             <img src="/static/images/f10.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
       </ul>
       <script type="text/javascript">
       $(window).load(function() {
        $("#flexiselDemo8").flexisel({
        visibleItems: 4,
        animationSpeed: 1000,
        autoPlay: true,
        autoPlaySpeed: 3000,
        pauseOnHover:true,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: {
          portrait: {
            changePoint:480,
            visibleItems: 1
          },
          landscape: {
            changePoint:640,
            visibleItems: 2
          },
          tablet: {
            changePoint:768,
            visibleItems: 3
          }
        }
      });
      });
      </script>
      <script type="text/javascript" src="/static/images/js/jquery.flexisel.js"></script>
     </div>
   </div>
</div>

<br><br>

<div class="content">
   <div class="container">
     <div class="top-games">
       <center><h2>Top Multiplayer Games</h2></center>
       <span></span>
     </div>
     <div class="top-game-grids" height=300 width=200>
       <ul id="flexiselDemo9">
         <li>
           <div class="game-grid">
             <h4>Diablo III</h4>
             <p>Diablo III</p>
             <img src="/static/images/m1.jpg" class="img-responsive" alt=""/>
          </div>
         </li>
         <li>
           <div class="game-grid">
             <h4>Grand Thefto Auto</h4>
             <p>Grand Thefto Auto V</p>
             <img src="/static/images/m2.jpg" class="img-responsive" alt=""/>
           </iv>
         </li>
         <li>
           <div class="game-grid">
             <h4>It Takes Two</h4>
             <p>It Takes Two</p>
             <img src="/static/images/m3.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
         <li>
           <div class="game-grid">
             <h4>Call OF Duty</h4>
             <p>Warzone</p>
             <img src="/static/images/m4.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Minecraft</h4>
             <p>Minecraft</p>
             <img src="/static/images/m5.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Fall Guys</h4>
             <p>Ultimate Knockout<p>
             <img src="/static/images/m6.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Tekken</h4>
             <p>Tekken 7</p>
             <img src="/static/images/m7.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Rocket League</h4>
             <p>Rocket Leagur</p>
             <img src="/static/images/m8.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Divinity</h4>
             <p>Definitive Edition</p>
             <img src="/static/images/m9.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Tom Clancy's</h4>
             <p>Rainbow Six Siege</p>
             <img src="/static/images/m10.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
       </ul>
       <script type="text/javascript">
       $(window).load(function() {
        $("#flexiselDemo9").flexisel({
        visibleItems: 4,
        animationSpeed: 1000,
        autoPlay: true,
        autoPlaySpeed: 3000,
        pauseOnHover:true,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: {
          portrait: {
            changePoint:480,
            visibleItems: 1
          },
          landscape: {
            changePoint:640,
            visibleItems: 2
          },
          tablet: {
            changePoint:768,
            visibleItems: 3
          }
        }
      });
      });
      </script>
      <script type="text/javascript" src="/static/images/js/jquery.flexisel.js"></script>
     </div>
   </div>
</div>

<br><br>

<div class="content">
   <div class="container">
     <div class="top-games">
       <center><h2>Top Puzzle Games</h2></center>
       <span></span>
     </div>
     <div class="top-game-grids" height=300 width=200>
       <ul id="flexiselDemo10">
         <li>
           <div class="game-grid">
             <h4>The Witness</h4>
             <p>The Witness</p>
             <img src="/static/images/p1.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
         <li>
           <div class="game-grid">
             <h4>The Last Guardian</h4>
             <p>The Last Gaurdian</p>
             <img src="/static/images/p2.jpg" class="img-responsive" alt=""/>
           </iv>
         </li>
         <li>
           <div class="game-grid">
             <h4>The Turning Test</h4>
             <p>The Turning Test</p>
             <img src="/static/images/p3.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
         <li>
           <div class="game-grid">
             <h4>Human Fall Flat</h4>
             <p>Aniversory Edition</p>
             <img src="/static/images/p4.jpg" class="img-responsive" alt="" max-width=100 max-height=100 />
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>The Spectrum Retreat</h4>
             <p>The Spectrum Retreat</p>
             <img src="/static/images/p5.jpg" class="img-responsive" alt="" max-width=100 max-height=100 />
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Q.U.B.E. 2</h4>
             <p>Q.U.B.E. 2<p>
             <img src="/static/images/p6.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Unravel Two</h4>
             <p>Unravel Two</p>
             <img src="/static/images/p7.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Superliminal</h4>
             <p>Superliminal</p>
             <img src="/static/images/p8.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Lara Croft </h4>
             <p>The Temple of Osiris</p>
             <img src="/static/images/p9.jpg" class="img-responsive" alt=""/>
           </div>
         </li>

         <li>
           <div class="game-grid">
             <h4>Tetris Effect</h4>
             <p>Tetris Effect</p>
             <img src="/static/images/p10.jpg" class="img-responsive" alt=""/>
           </div>
         </li>
       </ul>
       <script type="text/javascript">
       $(window).load(function() {
        $("#flexiselDemo10").flexisel({
        visibleItems: 4,
        animationSpeed: 1000,
        autoPlay: true,
        autoPlaySpeed: 3000,
        pauseOnHover:true,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: {
          portrait: {
            changePoint:480,
            visibleItems: 1
          },
          landscape: {
            changePoint:640,
            visibleItems: 2
          },
          tablet: {
            changePoint:768,
            visibleItems: 3
          }
        }
      });
      });
      </script>
      <script type="text/javascript" src="/static/images/js/jquery.flexisel.js"></script>
     </div>
   </div>
</div>
  </body>
</html>


<style>
img {
 max-width: 100%;
 max-height: 100%;
}
</style>
