<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
  <!-- jQuery (necessary JavaScript plugins) -->
  <script src="/static/js/bootstrap.js"></script>
  <!-- Custom Theme files -->
  <link href="/static/css/style.css" rel='stylesheet' type='text/css' />
  <!-- Custom Theme files -->
  <!--//theme-style-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Adventure Gaming  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

  <script src="/static/js/jquery.min.js"></script>
</head>
  <body>
    <div class="banner-info">
 		  <div class="container">
 				<div class="logo" style="color:white">
 					 <h1><a href="{%url "ps" %}">PLAYSTATION GAMES</a></h1>
 				</div>
 			 <div class="top-menu">
 				 <span class="menu"></span>
 					<ul class="nav1">
            <li class=""><a href="{%url "index" %}">Home</a></li>
            <li class=""><a href="{%url "ps_recommend" %}">Recommend</a></li>
            <li class=""><a href="{%url "ps_trailers" %}">Trailers</a></li>
            <li class=""><a href="{% url "ps_news" %}">News</a></li>
            <li class=""><A href="Logout.html">Logout</a></li>
            </ul>
 			 </div>
 	 <!-- script-for-menu -->
 						<script>
 							 $( "span.menu" ).click(function() {
 							$( "ul.nav1" ).slideToggle( 300, function() {
 							// Animation complete.
 								});
 								});
 						</script>
 					<!-- /script-for-menu -->

 			 <div class="clearfix"></div>
 		 </div>
 	 </div>
 <!-- banner -->
 	 <!-- Slider-starts-Here -->
 	 <script src="/static/js/responsiveslides.min.js"></script>
 	 <script>
 		$(function () {
 		  $("#slider").responsiveSlides({
 			auto:true,
 			nav: false,
 			speed: 500,
 			namespace: "callbacks",
 			pager:true,
 		  });
 		});

 	   </script>
 	 <div class="slider">
 		  <div class="callbacks_container">
 			  <ul class="rslides" id="slider">

 					<div class="slid banner1">
 						  <div class="caption">
 								<h3>Adventure Game - 343 industries - master chief</h3>
 								</div>
 					</div>


 					 <div class="slid banner2">
 						  <div class="caption">
 								<h3>God of war - kratos - sony santa monica</h3>
 						  </div>
 					 </div>


 					<div class="slid banner3">
 						<div class="caption">
 							<h3>Battlefield 4 - game - explosion - digital illusions</h3>
 						</div>
 					</div>


 					<div class="slid banner4">
 						<div class="caption">
 							<h3>Grand Theft Auto -V -Action-Adventure - Rockstar Games</h3>
 						</div>
 					</div>


 					<div class="slid banner5">
 						<div class="caption">
 							<h3>Call of Duty Black Ops -Action-Survival  - Activision</h3>
 						</div>
 					</div>


 					<div class="slid banner6">
 						<div class="caption">
 							<h3>NFS-Heat - Racing - Ghost Games</h3>
 						</div>
 					</div>


 					<div class="slid banner7">
 						<div class="caption">
 							<h3>Uncharted-4 A Theif's End -Adventure  -Naughty Dog - Sony</h3>
 						</div>
 					</div>


 					<div class="slid banner8">
 						<div class="caption">
 							<h3>PUBG BATTLEGROUNDS - Action - Survival - Krafton</h3>
 						</div>
 					</div>


 					<div class="slid banner9">
 						<div class="caption">
 							<h3>Resident Evil Village  -Action -Survival - Horror   - Capcom Games </h3>
 						</div>
 					</div>
 			  </ul>
 		 </div>
 	 </div>


<br><Br>
  <h1><center><b>PLAYSTATION NEWS<b></center><h1><br>
  <div style="background-color:black">
    <div class="div1">
    <h2 align="center" style="color:white">{{list.0}}</h2><h2 align="center" style="color:blue">{{list1.0}}</h2><br><br>
    <h2 align="center" style="color:white">{{list.1}}</h2><h2 align="center" style="color:blue">{{list1.1}}</h2><br><br>
    <h2 align="center" style="color:white">{{list.2}}</h2><h2 align="center" style="color:blue">{{list1.2}}</h2><br><br>
    <h2 align="center" style="color:white">{{list.3}}</h2><h2 align="center" style="color:blue">{{list1.3}}</h2><br><br>
    <h2 align="center" style="color:white">{{list.4}}</h2><h2 align="center" style="color:blue">{{list1.4}}</h2><br><br>
    <h2 align="center" style="color:white">{{list.5}}</h2><h2 align="center" style="color:blue">{{list1.5}}</h2><br><br>
    <h2 align="center" style="color:white">{{list.6}}</h2><h2 align="center" style="color:blue">{{list1.6}}</h2><br><br>
    <h2 align="center" style="color:white">{{list.7}}</h2><h2 align="center" style="color:blue">{{list1.7}}</h2><br><Br>
    <h2 align="center" style="color:white">{{list.8}}</h2><h2 align="center" style="color:blue">{{list1.8}}</h2><br><Br>
    <h2 align="center" style="color:white">{{list.9}}</h2><h2 align="center" style="color:blue">{{list1.9}}</h2><br><Br>
    <h2 align="center" style="color:white">{{list.10}}</h2><h2 align="center"style="color:blue">{{list1.10}}</h2><br><Br>
      <h2 align="center" style="color:white">{{list.11}}</h2><h2 align="center" style="color:blue">{{list1.11}}</h2><br><br>
      <h2 align="center" style="color:white">{{list.12}}</h2><h2 align="center" style="color:blue">{{list1.12}}</h2><br><br>
      <h2 align="center" style="color:white">{{list.13}}</h2><h2 align="center" style="color:blue">{{list1.13}}</h2><br><br>
      <h2 align="center" style="color:white">{{list.14}}</h2><h2 align="center" style="color:blue">{{list1.14}}</h2><br><br>
      <h2 align="center" style="color:white">{{list.15}}</h2><h2 align="center" style="color:blue">{{list1.15}}</h2><br><br>
      <h2 align="center" style="color:white">{{list.16}}</h2><h2 align="center" style="color:blue">{{list1.16}}</h2><br><br>
      <h2 align="center" style="color:white">{{list.17}}</h2><h2 align="center" style="color:blue">{{list1.17}}</h2><br><br>
      <h2 align="center" style="color:white">{{list.18}}</h2><h2 align="center" style="color:blue">{{list1.18}}</h2><br><Br>
      <h2 align="center" style="color:white">{{list.19}}</h2><h2 align="center" style="color:blue">{{list1.19}}</h2><br><Br>
      <h2 align="center" style="color:white">{{list.20}}</h2><h2 align="center" style="color:blue">{{list1.20}}</h2><br><Br>
      <h2 align="center" style="color:white">{{list.21}}</h2><h2 align="center" style="color:blue">{{list1.21}}</h2><br><Br>
  </h2>
</div>
</body>
</html>
