<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Playstation Trailers</title>
    <!-- Custom styles for this template -->
    <link href="/static/css/album.css" rel="stylesheet">
    <title></title>
  <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
  <!-- jQuery (necessary JavaScript plugins) -->
  <script src="/static/js/bootstrap.js"></script>
  <!-- Custom Theme files -->
  <link href="/static/css/style.css" rel='stylesheet' type='text/css' />
  <!-- Custom Theme files -->
  <!--//theme-style-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Adventure Gaming  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

  <script src="/static/js/jquery.min.js"></script>
</head>
  <body>
    <div class="banner-info">
 		  <div class="container">
 				<div class="logo" style="color:white">
 					 <h1><a href="{% url "ps" %}">PLAYSTATION GAMES</a></h1>
 				</div>
 			 <div class="top-menu">
 				 <span class="menu"></span>
 					<ul class="nav1">
               <li class=""><a href="{% url "index" %}">Home</a></li>
               <li class=""><a href="{% url "ps_recommend" %}">Recommend</a></li>
               <li class=""><a href="{% url "ps_trailers" %}">Trailers</a></li>
               <li class=""><a href="{% url "ps_news" %}">News</a></li>
               <li class=""><A href="Logout.html">Logout</a></li>
 				  </ul>
 			 </div>
 	 <!-- script-for-menu -->
 						<script>
 							 $( "span.menu" ).click(function() {
 							$( "ul.nav1" ).slideToggle( 300, function() {
 							// Animation complete.
 								});
 								});
 						</script>
 					<!-- /script-for-menu -->

 			 <div class="clearfix"></div>
 		 </div>
 	 </div>
 <!-- banner -->
 	 <!-- Slider-starts-Here -->
 	 <script src="/static/js/responsiveslides.min.js"></script>
 	 <script>
 		$(function () {
 		  $("#slider").responsiveSlides({
 			auto:true,
 			nav: false,
 			speed: 500,
 			namespace: "callbacks",
 			pager:true,
 		  });
 		});

 	   </script>
 	 <div class="slider">
 		  <div class="callbacks_container">
 			  <ul class="rslides" id="slider">

 					<div class="slid banner1">
 						  <div class="caption">
 								<h3>Adventure Game - 343 industries - master chief</h3>
 								</div>
 					</div>


 					 <div class="slid banner2">
 						  <div class="caption">
 								<h3>God of war - kratos - sony santa monica</h3>
 						  </div>
 					 </div>


 					<div class="slid banner3">
 						<div class="caption">
 							<h3>Battlefield 4 - game - explosion - digital illusions</h3>
 						</div>
 					</div>


 					<div class="slid banner4">
 						<div class="caption">
 							<h3>Grand Theft Auto -V -Action-Adventure - Rockstar Games</h3>
 						</div>
 					</div>


 					<div class="slid banner5">
 						<div class="caption">
 							<h3>Call of Duty Black Ops -Action-Survival  - Activision</h3>
 						</div>
 					</div>


 					<div class="slid banner6">
 						<div class="caption">
 							<h3>NFS-Heat - Racing - Ghost Games</h3>
 						</div>
 					</div>


 					<div class="slid banner7">
 						<div class="caption">
 							<h3>Uncharted-4 A Theif's End -Adventure  -Naughty Dog - Sony</h3>
 						</div>
 					</div>


 					<div class="slid banner8">
 						<div class="caption">
 							<h3>PUBG BATTLEGROUNDS - Action - Survival - Krafton</h3>
 						</div>
 					</div>


 					<div class="slid banner9">
 						<div class="caption">
 							<h3>Resident Evil Village  -Action -Survival - Horror   - Capcom Games </h3>
 						</div>
 					</div>
 			  </ul>
 		 </div>
 	 </div>


<br><Br>
  <div class="latest">
  	 <div class="container">
  		 <div class="latest-games">
  			 <h3>PS Games Trailers</h3>
  			 <br><br>
  			 <span></span>
  		 </div>
  <div class="box" style="display:inline-block">
    <iframe width=275 height=300 src="https://www.youtube.com/embed/AdZUrXCqUck" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=300 src="https://www.youtube.com/embed/EE-4GvjKcfs" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=300 src="https://www.youtube.com/embed/JlbMzBnfnzM" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=300 src="https://www.youtube.com/embed/gOE2BVRCUkM" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=300 src="https://www.youtube.com/embed/dRpXEc-EJow" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=300 src="https://www.youtube.com/embed/UxDWGW7Z67I" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=300 src="https://www.youtube.com/embed/qIQ3xNqkVC4" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=300 src="https://www.youtube.com/embed/N0WvpMw0Sko" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/dfCeHAJq1sc" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/rjZKwv6Bqms" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/5_k2DRoZ8fA" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/qRBEfJkjtsM" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/WMcjF-S6_cg" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/pWC07OqPCio" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/91IuprBwtFA" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/y6zKCvwHoss" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/9p_gg9UW9k4" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/uVn1ECBnsgI" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/Zbq7BnsQhrw" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/GsGaXJjVNSg" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/YZ3Dx4tfirE" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/tCtqW9i8QdE" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/00wFXKzVYfE" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/6_vgFT0-S80" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/joraCOo1n1c" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/rXMX4YJ7Lks" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/dxa34RatmSc" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/j7E4BNJjKu0" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/_NlG01OiUg8" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/jEA3Vm_bvMk" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/hDMVznPJNlE" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/P-l4OlgDokE" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/RJ_bxl5DwkM" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/dHcfwONzO7I" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/Wlp8m8_5xsg" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/OEQsQqkEKMA" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/_-ZZzvxAwtk" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/hsCIwYCSa7g" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>



</div>
</div>
</div>
</div>


  </body>
</html>
