<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Playstation Trailers</title>
    <!-- Custom styles for this template -->
    <link href="/static/css/album.css" rel="stylesheet">
    <title></title>
  <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
  <!-- jQuery (necessary JavaScript plugins) -->
  <script src="/static/js/bootstrap.js"></script>
  <!-- Custom Theme files -->
  <link href="/static/css/style.css" rel='stylesheet' type='text/css' />
  <!-- Custom Theme files -->
  <!--//theme-style-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Adventure Gaming  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

  <script src="/static/js/jquery.min.js"></script>
</head>
  <body>
    <div class="banner-info">
 		  <div class="container">
 				<div class="logo" style="color:white">
 					 <h1><a href="{% url "ps" %}">PLAYSTATION GAMES</a></h1>
 				</div>
 			 <div class="top-menu">
 				 <span class="menu"></span>
 					<ul class="nav1">
               <li class=""><a href="{% url "index" %}">Home</a></li>
               <li class=""><a href="{% url "xbox_recommend" %}">Recommend</a></li>
               <li class=""><a href="{% url "xbox_trailers" %}">Trailers</a></li>
               <li class=""><a href="{% url "xbox_news" %}">News</a></li>
               <li class=""><A href="Logout.html">Logout</a></li>
 				  </ul>
 			 </div>
 	 <!-- script-for-menu -->
 						<script>
 							 $( "span.menu" ).click(function() {
 							$( "ul.nav1" ).slideToggle( 300, function() {
 							// Animation complete.
 								});
 								});
 						</script>
 					<!-- /script-for-menu -->

 			 <div class="clearfix"></div>
 		 </div>
 	 </div>
 <!-- banner -->
 	 <!-- Slider-starts-Here -->
 	 <script src="/static/js/responsiveslides.min.js"></script>
 	 <script>
 		$(function () {
 		  $("#slider").responsiveSlides({
 			auto:true,
 			nav: false,
 			speed: 500,
 			namespace: "callbacks",
 			pager:true,
 		  });
 		});

 	   </script>
 	 <div class="slider">
 		  <div class="callbacks_container">
 			  <ul class="rslides" id="slider">

 					<div class="slid banner1">
 						  <div class="caption">
 								<h3>Adventure Game - 343 industries - master chief</h3>
 								</div>
 					</div>


 					 <div class="slid banner2">
 						  <div class="caption">
 								<h3>God of war - kratos - sony santa monica</h3>
 						  </div>
 					 </div>


 					<div class="slid banner3">
 						<div class="caption">
 							<h3>Battlefield 4 - game - explosion - digital illusions</h3>
 						</div>
 					</div>


 					<div class="slid banner4">
 						<div class="caption">
 							<h3>Grand Theft Auto -V -Action-Adventure - Rockstar Games</h3>
 						</div>
 					</div>


 					<div class="slid banner5">
 						<div class="caption">
 							<h3>Call of Duty Black Ops -Action-Survival  - Activision</h3>
 						</div>
 					</div>


 					<div class="slid banner6">
 						<div class="caption">
 							<h3>NFS-Heat - Racing - Ghost Games</h3>
 						</div>
 					</div>


 					<div class="slid banner7">
 						<div class="caption">
 							<h3>Uncharted-4 A Theif's End -Adventure  -Naughty Dog - Sony</h3>
 						</div>
 					</div>


 					<div class="slid banner8">
 						<div class="caption">
 							<h3>PUBG BATTLEGROUNDS - Action - Survival - Krafton</h3>
 						</div>
 					</div>


 					<div class="slid banner9">
 						<div class="caption">
 							<h3>Resident Evil Village  -Action -Survival - Horror   - Capcom Games </h3>
 						</div>
 					</div>
 			  </ul>
 		 </div>
 	 </div>


<br><Br>
  <div class="latest">
  	 <div class="container">
  		 <div class="latest-games">
  			 <h3>XBOX Games Trailers</h3>
  			 <br><br>
  			 <span></span>
  		 </div>
  <div class="box" style="display:inline-block">
    <iframe width=275 height=300 src="https://www.youtube.com/embed/tiZYq1mQnh0" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=300 src="https://www.youtube.com/embed/JkqboepGJ-0" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=300 src="https://www.youtube.com/embed/LJh9ZuH8FUw" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=300 src="https://www.youtube.com/embed/d74mxMeiy-s" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=300 src="https://www.youtube.com/embed/1n0uY46hry8" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=300 src="https://www.youtube.com/embed/4yvfVJICfcU" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=300 src="https://www.youtube.com/embed/zQhAdT9uj7g" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=300 src="https://www.youtube.com/embed/ffeARpUjAyc" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/McGPbuJFRR4" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/MV8UPxRbbv0" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/GUxRiiLxSCs" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/dxRo8ZyCnMo" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/SM_jf5X00zQ" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/ekveuiyTuiA" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/34ZctTOEnnA" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/O9cn26VJ8BY" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/R0AQzJPAm0E" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/Ksr08kasu2k" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/WE-EU58J9X0" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/27dxKaXw8U8" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/w5zrjVowP1M" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/-qxMW0RZsps" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/Rv7xLt5yNsM" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/3eRLHoaPkUw" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/I1AzetTTcrw" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/yAML5YJD8gQ" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/tO7Vs-5pSwc" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/UddNfzJWLeM" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/Rv7xLt5yNsM" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/irYAJ8PVyZs" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/e-L_HF8knPQ" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/_I1lxnV92UQ" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/Im5MvPGmlrs" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/5V9t5JAoMpw" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/hzPxcVphHX4" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/JusmdJguSto" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/lPgBi_rJXOI" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/2BFhjfqCcis" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/nHifVP0kbAk" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
    <iframe width=275 height=315 src="https://www.youtube.com/embed/KRg4DT-Qawc" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
</div>
</div>
</div>
</div>


  </body>
</html>
